<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title><%= assigns[:page_title] || "PG's Blog" %></title>
    <link rel="stylesheet" href={assigns[:app_css_link]} />
  </head>

  <body>
    <nav class="w-full bg-gray-400 p-4 h-16">
      <div class="max-w-screen-lg mx-auto flex justify-center space-x-6">
        <a href={assigns[:home_link]} class="text-gray-800 hover:text-white">Blog</a>
        <a href="/" class="text-gray-800 hover:text-white">About</a>
        <a href="/" class="text-gray-800 hover:text-white">Contact</a>
      </div>
    </nav>

    <main role="main">
      <div class="max-w-screen-lg mx-auto p-4 min-h-screen">
        <%= @inner_content %>
      </div>
    </main>
    <main role="main">
      <%= @inner_content %>
    </main>
  </body>
</html>
