<h1 class="text-3xl font-bold mb-2"><%= @post.title %></h1>
<h1 class="text font-bold mb-2">by <%= @post.author %></h1>
<p class="text-gray-500 mb-4"><%= @post.date %> | tags: <%= Enum.join(@post.tags, " ") %></p>

<div class="prose">
  <%= raw(@post.body) %>
</div>
